/* SUPPORT BUTTON */
#supportBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 70px;
    height: 70px;
    background: #00aa66;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid #0f0f0f;
    box-shadow: 0 0 15px rgba(0,255,150,0.4);
    transition: 0.2s;
    z-index: 9999;
}
#supportBtn:hover {
    transform: scale(1.08);
    background: #009b5c;
}

/* SUPPORT PANEL */
#supportPanel {
    position: fixed;
    bottom: 110px;
    right: 25px;
    width: 340px;
    background: #111;
    border: 1px solid #2d2d2d;
    border-radius: 18px;
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
    z-index: 9998;
}

/* PANEL OPEN */
#supportPanel.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* HEADER */
.sup-header {
    background: #00aa66;
    padding: 14px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px 18px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sup-header button {
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* BODY */
.sup-body {
    padding: 18px;
}
.sup-body label {
    font-size: 14px;
    opacity: .8;
}
.sup-body input,
.sup-body textarea {
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}
.sup-body textarea {
    height: 110px;
    resize: none;
}

/* SEND BUTTON */
.sup-send {
    width: 100%;
    background: #00aa66;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.sup-send:hover {
    background: #009655;
}
