/* SUPPORT BUTTON */
#supportBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 58px;
    height: 58px;
    background: #00aa66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 0 18px rgba(0,0,0,0.4);
}
#supportBtn img {
    width: 30px;
    height: 30px;
}

/* PANEL */
#supportPanel {
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 330px;
    background: #0d0d0d;
    border: 1px solid #222;
    padding: 18px;
    border-radius: 14px;
    display: none;   /* <-- ÖNEMLİ */
    flex-direction: column;
    z-index: 9999;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

/* HEADER */
.sup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.sup-header button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* INPUTLAR */
.sup-body input,
.sup-body textarea {
    width: 100%;
    background: #141414;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin-bottom: 12px;
}
.sup-body textarea {
    height: 90px;
    resize: none;
}

/* SEND BUTTON */
.sup-send {
    width: 100%;
    background: #00aa66;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
.sup-send:hover {
    background: #009655;
}
.reply-container {
  background: #111;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  color: #00cc78;
}
/* CHAT WINDOW */
.chat-window {
  height: 360px;
  overflow-y: auto;
  background: #0f0f0f;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* BALONLAR */
.msg-user {
  max-width: 75%;
  align-self: flex-start;
  background: #222;
  padding: 10px 14px;
  border-radius: 12px;
  border-top-left-radius: 0;
  color: white;
}

.msg-admin {
  max-width: 75%;
  align-self: flex-end;
  background: #00aa66;
  padding: 10px 14px;
  border-radius: 12px;
  border-top-right-radius: 0;
  color: white;
}

/* DOSYA */
.chat-img {
  width: 140px;
  border-radius: 8px;
  margin-top: 8px;
  border: 1px solid #333;
}

/* TARİH */
.msg-date {
  opacity: .4;
  font-size: 11px;
  margin-top: 3px;
}

/* INPUT ALANI */
.chat-input-area {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.chat-input-area input[type="text"] {
  flex: 1;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
}

.file-btn {
  font-size: 22px;
  cursor: pointer;
  opacity: .7;
}

.send-btn {
  background: #00aa66;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}
.send-btn:hover {
  background: #009955;
}
